*,
html {
  box-sizing: border-box;
}
a,
p,
h2,
h3,
body,
figure {
  margin: 0;
  padding: 0;
}
p,
h2,
h3,
.narrow {
  max-width: 768px;
}
body {
  min-height: 100vh;
  padding: 1vmin 4vw;
  padding-bottom: 2vmax;
  font-family: 'Inter';
  color: var(--light-text-main);
  font-size: var(--font-size-small);
  background: var(--background-main);
}
a {
  --text-secondary: #a1a1a180;
  
  color: inherit;
  transition: 0.65s;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--text-secondary);
}
a:hover {
  transition: 0;
  text-decoration-color: var(--text-accent-main);
}
p {
  margin-block: 0;
  min-height: 0.9em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
  font-family: 'Merriweather';
  font-size: var(--font-size-regular);
}
h2,
h3 {
  font-weight: 700;
  line-height: 0.95em;
}
h2 {
  margin-left: -0.025em;
  margin-bottom: 0.25em;
  font-size: var(--font-size-medium);
}
h3 {
  margin-left: -0.025em;
  margin-bottom: 0.25em;
  font-size: var(--font-size-xregular);
}
nav {
  margin-bottom: 4vmax;
}
nav > a {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
}
img,
video {
  width: 100%;
  min-width: 25%;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1 auto;
}
main {
  display: grid;
  gap: 2vmax 1vmax;
  margin: 0 auto 8vmax;
  grid-template-columns: repeat(12, 1fr);
}
figure {
  display: grid;
  gap: 1vmin 1vmax;
  margin-inline: auto;
  margin-bottom: 4vmax;
}
footer {
  margin-top: 10vmax;
}
.secondary {
  color: var(--text-secondary);
}
.two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.four-cols {
  grid-template-columns: repeat(4, 1fr);
}
.list-item,
.project-caption,
.illustration-caption {
  font-family: 'Inter';
  font-size: var(--font-size-small);
}
.list-item {
  margin-left: calc(100% / 12);
}
.cols-2 {
  grid-column: span 2;
}
.cols-3 {
  grid-column: span 3;
}
.cols-4 {
  grid-column: span 4;
}
.cols-5 {
  grid-column: span 5;
}
.cols-6 {
  grid-column: span 6;
}
.cols-7 {
  grid-column: span 7;
}
.cols-8 {
  grid-column: span 8;
}
.cols-9 {
  grid-column: span 9;
}
.cols-10 {
  grid-column: span 10;
}
.cols-12 {
  grid-column: span 12;
}
@media screen and (max-width: 450px) {
  .cols-2,
  .cols-3,
  .cols-4,
  .cols-6,
  .cols-8,
  .cols-9,
  .cols-10,
  .cols-12 {
    grid-column: span 12;
  }
}