@import url('fonts.css');
@import url('common.css');
@import url('variables.css');

:root {
  --background-main: #254bf1;
}

body {
  color: #ffffff;
}
figure {
  gap: 1vmax;
}

.illustration-caption {
  margin-bottom: 0;
}

.cols-1 {
  grid-column: span 1;
}

.three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.desktop-full-screenshot {
  object-position: top;
  aspect-ratio: 1024 / 6280;
  max-height: calc(100% * (1024px / 100%));
}

@media screen and (max-width: 450px) {
  .cols-1 {
    grid-column: span 12;
  }
  .icons {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}