@import url('fonts.css');
@import url('common.css');
@import url('variables.css');

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
  }
}

body {
  color: light-dark(var(--light-text-main), var(--dark-text-main));
  background: light-dark(var(--light-background-main), var(--dark-background-main));
}
.suriken path {
  fill: light-dark(var(--light-text-main), var(--dark-text-main));
}
.suriken circle {
  fill: light-dark(var(--light-background-main), var(--dark-background-main));
}
a:hover > img,
a:hover > video {
  transform: scale(1.01);
  transition: 0.1s transform cubic-bezier(0.25, 0, 0, 0.25);
}
.link-arrow {
  display: inline-block;
  animation: rotate 3.2s ease-in-out 0.25s infinite;
  animation-play-state: paused;
}
a:hover .link-arrow {
  color: var(--text-accent-main);
  animation-play-state: running;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  25%, 100% { transform: rotate(360deg); }
}

article > figure {
  margin-bottom: 0;
  align-items: baseline;
}
.dark-back {
  background: var(--light-text-main);
}
.inside {
  position: absolute;
  fill: var(--light-text-main);
  transition: 0.1s transform cubic-bezier(0.25, 0, 0, 0.25);
} 
.illustration {
  overflow: hidden;
  aspect-ratio: auto;
}
.scroll-rotated {
  z-index: -12;
  position: relative;
}
a.secondary {
  color: var(--text-secondary);
}
.pome-title,
.note-title {
  line-height: 1.15em;
  font-size: var(--font-size-medium);
}
.pome > p,
.note > p {
  font-family: "IBM Plex Serif";
  font-size: var(--font-size-regular);
}
.illustration-caption span,
.project-caption span {
  font-weight: 700;
}
.project-thumbnail {
  margin-bottom: var(--gap-regular);
}