@import url('fonts.css');
@import url('common.css');
@import url('variables.css');

body {
  color: var(--text-main);
  background: var(--background-main);
}
a:hover {
  filter: brightness(0.85);
  transition: 0.1s transform cubic-bezier(0.25, 0, 0, 0.25);
}
.link-arrow {
  display: inline-block;
  animation: rotate 3.2s ease-in-out 0.25s infinite;
  animation-play-state: paused;
}
a:hover .link-arrow {
  color: var(--text-accent-main);
  animation-play-state: running;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
article > figure {
  margin-bottom: 0;
  align-items: baseline;
}
.illustration {
  overflow: hidden;
  aspect-ratio: auto;
}
.rotating {
  animation-name: rotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
svg > .rotating {
  transform-box: fill-box;
  transform-origin: center center;
}
.scroll-rotated {
  z-index: -12;
  position: relative;
}
.pome-title,
.note-title {
  line-height: 1.15em;
  font-size: var(--font-size-medium);
}
.pome > p,
.note > p {
  font-size: var(--font-size-regular);
}
.illustration-caption {
  color: var(--text-secondary);
}
.illustration-caption span,
.project-caption span {
  font-weight: 700;
}
.project-thumbnail {
  margin-bottom: var(--gap-regular);
}