@import url('fonts.css');
@import url('common.css');
@import url('index.css');
@import url('variables.css');

.heading-wrapper {
  grid-column: span 12;
}
.heading-link {
  display: inline-block;
  margin-right: 1vmin;
}
.heading-links-wrapper {
  grid-column: span 12;
}
.poem {
  margin-bottom: 4vmax;
}
.poem-date {
  font-family: 'IBM Plex Sans';
}

@media screen and (max-width: 450px) {
  .cols-2 {
    grid-column: span 2;
  }
}