@import url('styles/variables.css');
@import url('styles/fonts.css');
@import url('styles/core.css');
@import url('styles/grid.css');
@import url('styles/link.css');
@import url('styles/parallax.css');
@import url('styles/z-rotation.css');

.murals-cover {
  --parallaxSpeed: -40;
  --parallaxDistance: 400px;
}

.wheel {
  --rotation-duration: 4s;
}

.color-transition {
  fill: var(--accent-main);
  animation: colorTransition 10s ease-in-out infinite alternate;
}

@keyframes colorTransition {
  0% {
    fill: var(--accent-main);
  }
  100% {
    fill: var(--accent-secondary);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .twevle-cols {
    grid-template-columns: repeat(6, 1fr);
  }
}