@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-display: swap;
  src: url('static/fonts/IBMPlexSerif-Regular.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-display: swap;
  src: url('static/fonts/IBMPlexSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-display: swap;
  src: url('static/fonts/IBMPlexSans-Regular.woff') format('woff');
}
:root {
/*  color-scheme: light dark;*/
  
  --text-main: #151516;
  --text-accent-main: #FB0001;
  --text-accent-secondary: #0172C3;
  --text-secondary: #888888;
  --background-main: #ffffff; 
  --background-secondary: #ffffffdd;

  --font-size-xlarge: clamp(2.5rem, 10vw + 1rem, 9rem);
  --font-size-large: clamp(2rem, 7.4vw + 1rem, 9rem);
  --font-size-xmedium: clamp(1.5rem, 5vw + 1rem, 8rem);
  --font-size-medium: clamp(1rem, 3vw + 1rem, 6rem);
  --font-size-xregular: clamp(0.95rem, 3vw + 1rem, 4rem);
  --font-size-regular: clamp(0.85rem, 2vmax, 2rem);
  --font-size-small: clamp(0.6rem, 1vmin + 0.6rem, 2rem);
 }

*,
html {
  box-sizing: border-box;
}
a,
p,
h1,
h2,
h3,
body,
figure {
  margin: 0;
  padding: 0;
}
body {
/*  overflow-x: hidden;*/
  padding: 1vmin 1vmax;
  color: var(--text-main);
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-small);
}
a {
  color: inherit;
  transition: 0.65s;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--text-secondary);
}
a:hover {
  transition: 0s;
  text-decoration-color: var(--text-accent-main);
}
.link-arrow {
  display: inline-block;
  animation: rotate 3.2s ease-in-out 0.25s infinite;
  animation-play-state: paused;
}
a:hover .link-arrow {
  color: var(--text-accent-main);
  animation-play-state: running;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  25%, 100% { transform: rotate(360deg); }
}
h2 {
  line-height: 1.15em;
  font-size: var(--font-size-medium);
}
p {
  margin-block: 0;
  min-height: 0.9em;
  line-height: 1.25em;
  margin-bottom: 1vmax;
  font-family: "IBM Plex Serif";
  font-size: var(--font-size-regular);
}
p.illustration-caption {
  margin-bottom: 0;
}
nav {
  margin-bottom: 4vmax;
}
nav > a {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
  font-size: var(--font-size-small);
}
p.project-caption,
a.pome-title,
a.note-title {
  text-decoration: none !important;
}
img,
video {
  width: 100%;
  object-fit: cover;
  aspect-ratio: auto;
}
main {
  display: grid;
  gap: 2vmax 1vmax;
  margin-bottom: 8vmax;
  grid-template-columns: repeat(12, 1fr);
}
figure {
  display: flex;
  gap: 1vmin 1vmax;
  flex-flow: row wrap;
  margin-bottom: 2vmax;
  justify-content: space-around;
}
.half-width {
  width: 100%;
  max-width: calc(50% - 1vmax);
}
.third-width {
  max-width: 33.3%;
}
.project-caption,
.illustration-caption,
.list-item {
  font-family: "IBM Plex Sans";
}
.list-item {
  margin-left: calc(100% / 12);
}
.note {
/*  max-height: 25vmax;*/
  min-height: fit-content;
}
.more,
.pome-title,
span.project-caption,
span.note-preview {
  font-weight: 700;
}
.cols-2 {
  grid-column: span 2;
}
.cols-3 {
  grid-column: span 3;
}
.cols-4 {
  grid-column: span 4;
}
.cols-6 {
  grid-column: span 6;
}
.cols-8 {
  grid-column: span 8;
}
.cols-9 {
  grid-column: span 9;
}
.cols-10 {
  grid-column: span 10;
}
.cols-12 {
  grid-column: span 12;
}
.illustration {
  overflow: visible;
  aspect-ratio: auto;
}
.scroll-rotated {
  z-index: -12;
  position: relative;
}
a.secondary {
  color: var(--text-secondary);
}
.pome-title,
.note-title {
  line-height: 1.15em;
  font-size: var(--font-size-medium);
}
.pome > p,
.note > p {
  font-family: "IBM Plex Serif";
  font-size: var(--font-size-regular);
}
.illustration-caption {
  color: var(--text-secondary);
}
.illustration-caption,
.project-caption {
  font-size: var(--font-size-small);
}
.project-thumbnail {
  margin-bottom: var(--gap-regular);
}
@media screen and (max-width: 450px) {
  .cols-2,
  .cols-3,
  .cols-4,
  .cols-6,
  .cols-8,
  .cols-9,
  .cols-10,
  .cols-12 {
    grid-column: span 12;
  }
}