:root {
  --light-text-main: #151516;
  --text-accent-main: #FB0001;
  --text-accent-secondary: #0172C3;
  --text-secondary: #888888;
  --light-background-main: #ffffff; 
  --background-secondary: #ffffffdd;

  --dark-text-main: #ffffff; 
  --dark-background-main: #151516; 

  --font-size-xlarge: clamp(2.5rem, 10vw + 1rem, 9rem);
  --font-size-large: clamp(2rem, 7.4vw + 1rem, 9rem);
  --font-size-xmedium: clamp(1.5rem, 5vw + 1rem, 8rem);
  --font-size-medium: clamp(1rem, 3vw + 1rem, 6rem);
  --font-size-xregular: clamp(0.95rem, 3vw + 1rem, 4rem);
  --font-size-regular: clamp(0.85rem, 2vmax, 2rem);
  --font-size-small: clamp(0.6rem, 1vmin + 0.6rem, 2rem);
}