@import "variables.css";

.font-no-ligs {
  font-feature-settings: 'liga' off;
}

.font-norm {
  font-style: normal;
}

.font-kern {
  font-kerning: normal;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: var(--gap-xlarge);
}

.centered-visual {
  grid-area: auto / 1 / auto / 7;
}

@media screen and (min-width: 1220px) {
  section {
    grid-template-columns: repeat(8, 1fr);
  }

  .centered-visual {
    grid-area: auto / 2 / auto / 8;
  }
}

figure {
  margin: 0;
  padding-bottom: var(--gap-large);
  padding-top: var(--gap-small);
}

img {
  width: 100%;
  max-width: 100%;
}

.sans-serif {
  font-family: "IBM Plex Sans";
}

.serif {
  font-family: "IBM Plex Serif";
}

.no-bottom-padding {
  padding-bottom: 0;
}

.small-padding {
  padding: var(--gap-small);
}

.regular-left-padding {
  padding-left: var(--gap-regular);
}

.xregular-left-padding {
  padding-left: var(--gap-xregular);
}

.large-left-padding {
  padding-left: var(--gap-large);
}

.xlarge-left-padding {
  padding-left: var(--gap-xlarge);
}

.small-bottom-padding {
  padding-bottom: var(--gap-small);
}

.large-bottom-padding {
  padding-bottom: var(--gap-large);
}

.regular-top-padding {
  padding-top: var(--gap-regular);
}

.regular-right-padding {
  padding-right: var(--gap-regular);
}

.grid {
  display: grid;
}

.no-gap {
  gap: 0;
}

.small-gap {
  gap: var(--gap-small);
}

.regular-gap {
  gap: var(--gap-regular);
}

.large-gap {
  gap: var(--gap-large);
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.no-margin {
  margin: 0;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.four-columns {
  grid-template-columns: repeat(4, 1fr);
}

.grid-row12 {
  grid-row: 1 / 2;
}

.grid-row23 {
  grid-row: 2 / 3;
}

.grid-row34 {
  grid-row: 3 / 4;
}

.grid-col-all {
  grid-column: 1 / -1;
}

.grid-col14 {
  grid-column: 1 / 4;
}

.grid-col13 {
  grid-column: 1 / 3;
}

.grid-col12 {
  grid-column: 1 / 2;
}

.grid-col48 {
  grid-column: 4 / 8;
}

.grid-col45 {
  grid-column: 4 / 5;
}

.grid-col17 {
  grid-column: 1 / 7;
}

.grid-col67 {
  grid-column: 6 / 7;
}

.grid-col23 {
  grid-column: 2 / 5;
}

.grid-col22 {
  grid-column: 3 / span 2;
}

.grid-col32 {
  grid-column: 3 / span 2;
}

.grid-col37 {
  grid-column: 4 / 7;
}

.accent {
  font-weight: var(--font-weight-heavy);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  margin-left: auto;
}

::selection {
  color: var(--color-light);
  background-color: var(--color-dark);
}

body {
  margin: 0;
  color: var(--color-dark);
  font-family: "IBM Plex Sans";
  background-color: var(--color-light);
}

video {
  max-width: 100%;
  object-fit: cover;
}

a {
  padding: 0;
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--font-size-regular);
  font-weight: inherit;
  border-bottom: 1px solid var(--color-dark);
}

a:hover {
  border-bottom: 1px solid var(--color-orange);
}

p {
  color: inherit;
  margin-block: 0;
  min-height: var(--line-height-small);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-large);
  padding-bottom: var(--gap-regular);
}

.regular-weight {
  font-weight: var(--font-weight-regular);
}

.heavy-weight {
  font-weight: var(--font-weight-heavy);
}

.regular-size {
  font-size: var(--font-size-regular);
}

.medium-size {
  font-size: var(--font-size-medium);
}

.large-size {
  font-size: var(--font-size-large);
}

.large-text {
  line-height: var(--line-height-xregular);
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-large);
}

.xregular-line-height {
  line-height: var(--line-height-xregular);
}

.regular-line-height {
  line-height: var(--line-height-regular);
}

.large-line-height {
  line-height: var(--line-height-large);
}

.orange-color {
  color: var(--color-orange);
}

.grey-color {
  color: var(--color-grey);
  border-color: var(--color-grey);
}

.dark-color {
  color: var(--color-dark);
}