@font-face {
  font-family: 'Noto Sans Display Bold';
  font-kerning: normal;
  src: url('/fonts/NotoSansDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Noto Sans Display Regular';
  font-kerning: normal;
  src: url('/fonts/NotoSansDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  font-kerning: normal;
  src: url('/fonts/NotoSerif-Regular.ttf');
}