:root {
  --color-dark: rgb(21, 21, 22);
  --color-light: rgb(245, 245, 242);
  --color-cyan: rgb(138, 232, 253);
  --color-blue: rgb(97, 112, 163);
  --color-green: rgb(79, 250, 122);
  --color-pink: rgb(255, 120, 199);
  --color-purple: rgb(189, 145, 247);
  --color-orange: rgb(255, 77, 0); 
  --color-red: rgb(255, 84, 84); 
  --color-yellow: rgb(240, 250, 138);

  --line-height-small: 0.8em;
  --line-height-regular: 1em;
  --line-height-large: 1.35em;

  --font-weight-heavy: 700;
  --font-weight-regular: 400;

  --font-size-xlarge: clamp(2.5rem, 10vw + 1rem, 9rem);
  --font-size-large: clamp(2rem, 7.4vw + 1rem, 9rem);
  --font-size-xmedium: clamp(1.5rem, 5vw + 1rem, 8rem);
  --font-size-medium: clamp(1rem, 3vw + 1rem, 6rem);
  --font-size-xregular: clamp(0.95rem, 3vw + 1rem, 4rem);
  --font-size-regular: clamp(0.85rem, 2vmax, 2rem);

  --gap-small: 1vmin;
  --gap-regular: 1vmax;
  --gap-large: 2vmax;
  --gap-xlarge: 2.5vmax;
  --gap-xxlarge: 4.5vmax;

  --footer-height: 80px;
}