.carousel-wrapper {
  position: relative;
  contain: paint;
}
.carousel {
  display: flex;
  overflow-x: visible;
  flex-flow: row nowrap;
  scrollbar-width: none;
}
.carousel > * {
  flex: 0 0 auto;
  width: clamp(var(--slot-min-width, 196px), var(--slot-width, 24svmax), var(--slot-max-width, 512px));
  margin-right: clamp(0.5rem, 2svmax, 2rem);
}

.carousel:first-child {
  margin-left: var(--carousel-first-child-left-margin, clamp(1rem, 2svw, 4rem));
}

.carousel:last-child {
  margin-right: 0;
}