*,
html {
  box-sizing: border-box;
}
a,
p,
h1,
h2,
h3,
body,
figure {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
.narrow {
  max-width: 768px;
}
body {
  min-height: 100vh;
  padding: 16px;
  font-family: 'Inter';
  color: var(--light-text-main);
  font-size: var(--font-size-small);
  background: var(--background-main);
}
p {
  margin-block: 0;
  min-height: 0.9em;
  line-height: 1.25em;
  margin-bottom: 0.75em;
  font-size: var(--font-size-regular);
}
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.05em;
}
h1 {
  margin-left: -0.025em;
  margin-bottom: 0.5em;
  font-size: var(--font-size-xmedium);
}
h2 {
  margin-left: -0.025em;
  margin-bottom: 0.5em;
  font-size: var(--font-size-medium);
}
h3 {
  margin-left: -0.025em;
  margin-bottom: 0.25em;
  font-size: var(--font-size-xregular);
}
nav {
  margin-bottom: 4vmax;
}
nav > a {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
}
img,
video {
  width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
}
main {
  display: grid;
  gap: 2vmax 1vmax;
  margin: 0 auto 8vmax;
  grid-template-columns: repeat(12, 1fr);
}
figure {
  display: grid;
  gap: 1vmin 1vmax;
  margin-inline: auto;
  margin-bottom: 4vmax;
}
footer {
  margin-top: 10vmax;
}
.square {
  aspect-ratio: 1 / 1;
}
.desktop-image-container {
  aspect-ratio: 16 / 10;
  contain: paint;
}
.secondary {
  color: var(--text-secondary);
}
.two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.four-cols {
  grid-template-columns: repeat(4, 1fr);
}
.five-cols {
  grid-template-columns: repeat(5, 1fr);
}
.six-cols {
  grid-template-columns: repeat(6, 1fr);
}
.seven-cols {
  grid-template-columns: repeat(7, 1fr);
}
.eight-cols {
  grid-template-columns: repeat(8, 1fr);
}
.twelve-cols {
  grid-template-columns: repeat(12, 1fr);
}
.list-item,
.project-caption,
.illustration-caption {
  font-family: 'Inter';
  font-size: var(--font-size-small);
}
.list-item {
  margin-left: calc(100% / 12);
}
.cols-2 {
  grid-column: span 2;
}
.cols-3 {
  grid-column: span 3;
}
.cols-4 {
  grid-column: span 4;
}
.cols-5 {
  grid-column: span 5;
}
.cols-6 {
  grid-column: span 6;
}
.cols-7 {
  grid-column: span 7;
}
.cols-8 {
  grid-column: span 8;
}
.cols-9 {
  grid-column: span 9;
}
.cols-10 {
  grid-column: span 10;
}
.cols-12 {
  grid-column: span 12;
}

.device-frame {
  fill: #d0d0d050;
}

@media screen and (max-width:  479px) {
  body {
    padding: 1vmin 4vw;
  }
  
  .cols-2,
  .cols-3,
  .cols-4,
  .cols-5,
  .cols-6,
  .cols-8,
  .cols-9,
  .cols-10 {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .cols-2,
  .cols-3,
  .cols-4,
  .cols-5,
  .cols-6,
  .cols-8,
  .cols-9,
  .cols-10 {
    grid-column: span 6;
  }
}