*,
html {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.25em;
  font-family: 'Inter';
  color: rgb(var(--text-main));
  font-size: var(--font-size-regular);
  background: rgb(var(--background-main));
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

::selection {
  color: rgb(var(--background-main));
  background-color: rgb(var(--accent-secondary));
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "Inter Display";
  margin: 0 0 0.5em -0.025em;
}

.heading-1 {
  line-height: 1.15em;
  font-size: var(--font-size-xlarge);
}

.heading-2 {
  line-height: 1.05em;
  font-size: var(--font-size-large);
}

.heading-3 {
  line-height: 1.05em;
  font-size: var(--font-size-medium);
}

.caption,
.paragraph {
  margin-block: 0;
  min-height: 1.3em;
  line-height: 1.3em;
  margin: 0 0 0.75em 0;
  font-size: var(--font-size-regular);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.narrative {
  max-width: 768px;
}

.bleed {
  margin: 0;
  max-width: 100%;
}

.illustration {
  margin-block: 0;
  margin-inline: 0;
}

.caption {
  font-weight: 400;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

.large {
  --size: 2;
}

.regular {
  --size: 1;
}

.small {
  --size: 0.5;
}

.column-padding {
  padding-left: clamp(calc(var(--size, 1) * 1rem), calc(var(--size, 1) * 2vw), calc(var(--size, 1) * 3rem));
  padding-right: clamp(calc(var(--size, 1) * 1rem), calc(var(--size, 1) * 2vw), calc(var(--size, 1) * 3rem));
}
.row-margin {
  margin-bottom: clamp(calc(var(--size, 1) * 2rem), calc(var(--size, 1) * 4vmax), calc(var(--size, 1) * 4rem));
}

.main-navigation > * {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
}

.page-header {
  padding-top: 1vw;
  padding-bottom: clamp(3rem, 4vmax, 5rem);
}

.page-footer {
  padding-bottom: 1vw;
  padding-top: clamp(3rem, 4vmax, 5rem);
}

.desktop-image-container {
  aspect-ratio: 16 / 10;
  contain: paint;
}

.device-frame {
  fill: rgba(225, 225, 225, 0.5);
}

.avatar-wrapper {
  contain: paint;
  border-radius: 10000px;
}

.avatar-wrapper,
.avatar-wrapper > canvas {
  width: 64px;
  height: 64px;
}

.eyes {
  transition: 0.5s;
}

.avatar-wrapper:hover > .avatar > .eyes {
  transition: 0.5s;
  filter: blur(8px);
  fill: rgb(var(--accent-main));
}