:root {
  font-size: 12px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  letter-spacing: clamp(-0.075em, calc(sign(1rem - 1em) * 0.025em + 0.025rem), 0.075em);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: rgb(var(--background-main));
  background-color: rgb(var(--accent-secondary));
}

.strike {
  text-decoration: line-through;
  text-decoration-color: rgb(var(--accent-secondary));
}

.dedact {
  background-color: rgb(var(--text-main));
}

.highlight {
  color: rgb(var(--background-main));
  background-color: rgb(var(--text-main));
}

.webpage {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: rgb(var(--text-main));
  background: rgb(var(--background-main));  
}

.header {
  margin-top: clamp(0.5rem, 1vh, 5rem);
}

.main {
  margin-block: clamp(0.5rem, 6vmax, 10rem);
}

.footer {
  margin-bottom: clamp(0.5rem, 1vh, 5rem);
}

.container {
  padding-inline: clamp(0.5rem, calc(var(--padding-scale, 1)*4vw - 1vmin), 10rem);
}

.content {
  width: min(100%, var(--content-width, 1440px));
  margin-inline: auto;
}

.image,
.video {
  display: block;
  height: auto;
  width: 100%;
}

.media {
  width: min(100%, var(--media-width, 1024px));
}

.media + .caption {
  margin-block: 0.5em 1em;
}

.media-container {
  margin-bottom: clamp(2rem, 4%, 4rem);
}

.narrative {
  width: min(100%, var(--text-width, 786px));
}

.media + .note {
  width: min(100%, calc(var(--media-width, 1024px) - var(--note-width, 216px)));
}

.narrative + .note {
  width: min(100%, calc(var(--text-width, 786px) - var(--note-width, 654px)));
}

.bleed {
  max-width: none;
  margin-inline: clamp(-10rem, calc(-1*(4vw - 1vmin)), -0.5rem);
}

.row {
  margin-bottom: clamp(calc(var(--size, 1) * 2rem), calc(var(--size, 1) * 4rem), calc(var(--size, 1) * 8rem));
}

.module {
  padding-bottom: clamp(1rem, calc(var(--size, 1) * 2.5rem), 6rem);
  padding-right: clamp(1ch, calc(var(--size, 1) * 2.5ch), 6ch);
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 700;
  line-height: 1.05em;
  font-family: "InterDisplay", sans-serif;
  margin: 1.5em 0 0.5em -0.025em;
}

.heading-1 {
  line-height: 1.15em;
  font-size: var(--font-size-xlarge);
}

.heading-2 {
  font-size: var(--font-size-large);
}

.heading-3 {
  font-size: var(--font-size-medium);
}

.heading-1 h1,
.heading-2 h2,
.heading-3 h3 {
  font: inherit;
}

.heading-1:first-child,
.heading-2:first-child,
.heading-3:first-child {
  margin-top: 0;
}

.mono {
  font-family: "Fira Code", monospace;
}

.small-capitals {
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-transform: uppercase;
}

.caption,
.paragraph {
  min-height: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.75em;
  font-size: var(--font-size-regular);
}

.short.paragraph {
  min-height: 1.15em;
  line-height: 1.15em;
  margin-bottom: 0.5em;
}

.caption {
  font-size: var(--font-size-small);
}

.inverted {
  filter: invert() contrast(85%) brightness(85%) hue-rotate(180deg);
}

.main-navigation > * {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
}

.avatar {
  width: 48px;
  zoom: 1.1;
  transform: translate(-10%, -15%) rotateZ(-125deg);
}

.avatar-wrapper {
  contain: paint;
  border-radius: 10000px;
}

.avatar-wrapper,
.avatar-wrapper canvas {
  width: 48px;
  height: 48px;
}

.avatar-wrapper:hover > .avatar > .eyes {
  transition: 0.5s;
  filter: blur(8px);
  fill: rgb(var(--accent-main));
}

.language-switch-container {
  text-align: right;
}

.language-switch-container > *:not(:last-child) {
  margin-right: clamp(0.5rem, 1ch, 1.5rem);
}