* {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: clamp(-0.075em, calc(sign(1rem - 1em) * 0.025em + 0.025rem), 0.075em);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: rgb(var(--text-main));
  background: rgb(var(--background-main));  
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

::selection {
  color: rgb(var(--background-main));
  background-color: rgb(var(--accent-secondary));
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 700;
  line-height: 1.05em;
  font-family: "InterDisplay", sans-serif;
  margin: 1.5em 0 0.5em -0.025em;
}

.heading-1 {
  line-height: 1.15em;
  font-size: var(--font-size-xlarge);
}

.heading-2 {
  font-size: var(--font-size-large);
}

.heading-3 {
  font-size: var(--font-size-medium);
}

.heading-1 h1,
.heading-2 h2,
.heading-3 h3 {
  font: inherit;
}

.code {
  font-family: "Fira Code", monospace;
}

.caption,
.paragraph {
  min-height: 1.3em;
  line-height: 1.3em;
  margin: 0 0 1em 0;
  font-size: var(--font-size-regular);
}

.caption {
  font-size: var(--font-size-small);
}

.media + .caption {
  margin: 0.5em 0 1em 0;
}

.small-capitals {
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-transform: uppercase;
}

.module:has(:nth-child(2)) > *:last-child {
  margin-bottom: clamp(calc(var(--size, 1) * 2rem), calc(var(--size, 1) * 4vmax), calc(var(--size, 1) * 4rem));
}

.module > *:not(.bleed) {
  padding-inline: clamp(calc(var(--size, 1) * 1rem), calc(var(--size, 1) * 2vw), calc(var(--size, 1) * 3rem));
}

.content {
  max-width: 1440px;
  margin-inline: auto;
}

.narrative {
  max-width: 768px;
}

.bleed {
  max-width: 100%;
  padding-inline: 0;
}

.large {
  --size: 2;
}

.regular {
  --size: 1;
}

.small {
  --size: 0.5;
}

.main-navigation > * {
  height: 100%;
  min-width: 40px;
  margin-right: 1vmin;
  display: inline-block;
}

.page-header {
  margin-top: 1em;
  margin-bottom: 4em;
}

.page-footer {
  margin-top: 4em;
  margin-bottom: 1em;
}

.avatar {
  width: 64px;
  zoom: 1.1;
  transform: translate(-10%, -15%) rotateZ(-125deg);
}

.avatar-wrapper {
  contain: paint;
  border-radius: 10000px;
}

.avatar-wrapper,
.avatar-wrapper > canvas {
  width: 64px;
  height: 64px;
}

.eyes {
  transition: 0.5s;
}

.avatar-wrapper:hover > .avatar > .eyes {
  transition: 0.5s;
  filter: blur(8px);
  fill: rgb(var(--accent-main));
}

.inverted {
  filter: invert() contrast(85%) brightness(85%) hue-rotate(180deg);
}