.grid {
  display: grid;
}

.cols {
  grid-template-columns: var(--grid-cols, repeat(16, 1fr));
}

.stack {
  grid-template-areas: "stack";
}

.stack > * {
  grid-area: stack;
}

.gap {
  gap: var(--grid-gap, clamp(0.5rem, calc(var(--scale, 1) * 2ch), 1.5rem));
}

.span2 { grid-column: auto / span 2; }
.span3 { grid-column: auto / span 3; }
.span4 { grid-column: auto / span 4; }
.span5 { grid-column: auto / span 5; }
.span6 { grid-column: auto / span 6; }
.span7 { grid-column: auto / span 7; }
.span8 { grid-column: auto / span 8; }
.span9 { grid-column: auto / span 9; }
.span10 { grid-column: auto / span 10; }
.span11 { grid-column: auto / span 11; }
.span12 { grid-column: auto / span 12; }
.span13 { grid-column: auto / span 13; }
.span14 { grid-column: auto / span 14; }
.span15 { grid-column: auto / span 15; }
.span16 { grid-column: 1 / -1; }

@media (min-width: 431px) and (max-width:  720px) {
  .cols {
    grid-template-columns: repeat(8, 1fr);
  }

  .span9,
  .span10,
  .span11,
  .span12,
  .span13,
  .span14,
  .span15 { 
    grid-column: 1 / -1; 
  }
}

@media (max-width: 430px) {
  .cols {
    grid-template-columns: 1fr;
  }

  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12,
  .span13,
  .span14,
  .span15 { 
    grid-column: 1 / -1; 
  }
}