.grid {
  display: grid;
}

.rows {
  grid-template-rows: repeat(16, 1fr);
}

.cols {
  grid-template-columns: repeat(16, 1fr);
}

.grid.s {
  gap: clamp(0.25rem, 0.5vw, 1rem);
}

.grid.m {
  gap: clamp(0.5rem, 1vw, 2rem);
}

.grid.l {
  gap: clamp(1rem, 2vw, 4rem);
}

.col {
  grid-column: auto / span calc(1 * var(--scale, 1));
}

.x3s {
  --scale: 0;
}

.x2s {
  --scale: 1;
}

.xxs {
  --scale: 2;
}

.xs {
  --scale: 3;
}

.s {
  --scale: 4;
}

.m {
  --scale: 5;
}

.l {
  --scale: 6;
}

.xl {
  --scale: 7;
}

.xxl {
  --scale: 8;
}

.x2l {
  --scale: 9;
}

.x3l {
  --scale: 10;
}

.x4l {
  --scale: 11;
}

.x5l {
  --scale: 12;
}

.x6l {
  --scale: 13;
}

.x7l {
  --scale: 14;
}

.x8l {
  --scale: 15;
}

.x9l {
  --scale: 16;
}

.stack {
  grid-template-areas: "stack";
}

.stack > * {
  grid-area: stack;
}

@media screen and (max-width:  479px) {
  .col.xs,
  .col.s,
  .col.m,
  .col.l,
  .col.xl,
  .col.xxl,
  .col.xxxl {
    grid-column: 1 / -1;
  }

  .cols {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .cols {
    grid-template-columns: repeat(8, 1fr);
  }
}