.link {
  color: inherit;
  font-size: inherit;
  transition: 0.25s;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(var(--text-main), 0.25);
}

.link:hover {
  transition: 0s;
  text-decoration-color: rgb(var(--accent-secondary));
}

.onpage-link {
  text-decoration-style: dashed;
}

.external-link {
  transition: 0.25s;
  display: inline-block;
  color: rgba(var(--text-main), 0.25);
  animation-play-state: paused !important;
}

.external-link:after {
  margin-left: 0.25em;
  transform-origin: -0.25em 0;
  content: var(--external-link-sign, "↗");
}

.link:hover .external-link {
  transition: 0s;
  color: rgb(var(--accent-secondary));
  animation-play-state: running !important;
}