.parallax-container {
  position: relative;
  contain: paint;
}
.parallax-image {
  animation: parallax linear both;
  animation-timeline: scroll();
  animation-range: 0 var(--parallaxDistance, 1);
  will-change: transform;
  position: fixed;
}
@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallaxSpeed, 1) * 1.5px));
  }
}