:root {
  --text-main: 1, 15, 25;
  --text-secondary: 150, 150, 150;
  --accent-main: 15, 145, 200;
  --accent-secondary: 255, 69, 0;
  --background-main: 250, 250, 250; 
  --background-secondary: 225, 225, 225;

  --font-size-xlarge: clamp(4rem, 0.75rem + 5lvw, 5rem); 
  --font-size-large: clamp(3rem, 0.75rem + 3lvw, 4rem); 
  --font-size-medium: clamp(2rem, 0.75rem + 2lvw, 3rem); 
  --font-size-regular: clamp(1.5rem, 0.75rem + 1lvw, 1.75rem); 
  --font-size-small: 1rem;

  --x-translation-distance: -250%;
}