:root {
  --text-main: 1, 15, 25;
  --text-secondary: 150, 150, 150;
  --accent-main: 15, 145, 200;
  --accent-secondary: 255, 69, 0;
  --background-main: 250, 250, 250; 
  --background-secondary: 225, 225, 225;

  --font-size-xlarge: clamp(3rem, 1rem + 4lvw, 5rem); 
  --font-size-large: clamp(2.25rem, 1rem + 2.5lvw, 4rem); 
  --font-size-medium: clamp(2rem, 1rem + 1.5lvw, 2.5rem); 
  --font-size-regular: clamp(1.25rem, 1rem + 1lvw, 1.75rem); 
  --font-size-small: 1rem;

  --x-translation-distance: -250%;
}